/* Estilos generales */
body {
    margin: 16px;
  }
  
  /* Toolbar */
  .mat-toolbar {
    background-color: #74565d;
    color: #fff;
  }
  
  .mat-toolbar h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
  
  /* Drawer Container */
  .mat-drawer-container {
    height: 100vh;
  }
  
  .mat-drawer.mat-drawer-opened {
    background-color: #74565d;
    border-radius: 0;
    max-width: 200px;
    height: 100vh;
  }
  
  /* Logo */
  .sidenav-logo {
    display: block;
    margin: 16px auto;
    width: 80%;
  }
  
  /* Sidenav */
  .sidenav-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .spacer {
    flex: 1;
  }
  
  /* Botón de logout */
  
  .mat-icon{
    color: #fff;
  }
  .sidenav-list a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .sidenav-list a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidenav-list .active {
    color: #E17564;
  }
  
  .sidenav {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
  }
  
  .sidenav mat-icon {
    font-size: 24px;
  }
  
  .sidenav p {
    margin: 0;
    font-size: 16px;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .mat-drawer-container {
      flex-direction: column;
    }
  
    .mat-toolbar h1 {
      font-size: 20px;
    }
  
    .sidenav-logo {
      width: 60%;
    }
  
    .sidenav-list a {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .mat-toolbar h1 {
      font-size: 18px;
    }
  
    .sidenav-logo {
      width: 50%;
    }
  
    .sidenav-list a {
      font-size: 12px;
    }
  }
  