<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" (opened)="setDrawer(drawer)">
      <img src="img/logo.svg" class="sidenav-logo">
      <ul class="sidenav-list">


        <li *appShowForRoles="['ADMIN','SALESMAN','STOCKER']"><a routerLink="" routerLinkActive="active">
          <div class="sidenav">
            <mat-icon>point_of_sale</mat-icon>
            <p>Ventas</p>
          </div>
        </a></li>
        <li *appShowForRoles="['ADMIN','STOCKER']"><a routerLink="products" routerLinkActive="active" >
            <div class="sidenav">
              <mat-icon>category</mat-icon>
              <p>Productos</p>
            </div>
          </a></li>
          <li *appShowForRoles="['ADMIN']"><a routerLink="sales" routerLinkActive="active" >
            <div class="sidenav">
              <mat-icon>point_of_sale</mat-icon>
              <p>Detalle de Ventas</p>
            </div>
          </a></li>
        <li *appShowForRoles="['STOCKER']"><a >
            <div class="sidenav">
              <mat-icon>people</mat-icon>
              <p>Usuarios</p>
            </div>
          </a></li>
        <li *appShowForRoles="['SALESMAN']"><a >
            <div class="sidenav">
              <mat-icon>inventory</mat-icon>
              <p>Inventario</p>
            </div>
          </a></li>
      
      </ul>
    </mat-drawer>
  
    <mat-toolbar class="mat-toolbar">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>La casa de Toby</h1>
      <span class="spacer"></span>
      <button mat-icon-button class="example-icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  
    <router-outlet></router-outlet>
  </mat-drawer-container>
  