/* Estilos generales del modal */
.mat-dialog-container {
  padding: 16px;
  width: 100%;
  max-width: 600px; /* Ancho máximo del modal */
  box-sizing: border-box;
  height: auto; /* Ajuste automático de la altura según el contenido */
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
}

/* Responsividad */
@media (max-width: 1200px) {
  .mat-dialog-container {
    width: 90%;  /* Modal ocupa el 90% del ancho de la pantalla */
    max-width: 500px;  /* Ancho máximo ajustado */
  }
}

@media (max-width: 900px) {
  .mat-dialog-container {
    width: 90%;  /* Modal ocupa el 90% del ancho en pantallas medianas */
    max-width: 400px;  /* Ancho máximo ajustado */
  }
}

@media (max-width: 600px) {
  .mat-dialog-container {
    width: 90%;  /* Modal ocupa el 90% del ancho en pantallas pequeñas */
    max-width: 300px;  /* Ancho máximo ajustado */
  }
}

/* Opcionalmente, puedes ajustar el padding del contenido */
.modal-content {
  padding: 10px;
}

button {
  width: 100%;
  margin-top: 16px;
}
