<div class="stockContainer">
  <mat-card *ngFor="let product of products$ | async" class="example-card" appearance="outlined">
    <mat-card-header>
      <img mat-card-image src="{{product.image}}"  alt="Photo of a Shiba Inu">
    </mat-card-header>

    <mat-card-content>
      <mat-card-title>{{product.name}}</mat-card-title>
      <p class="product-description">
        {{product.description}}
      </p>

      <p class="product-price">${{product.price}}</p>
    </mat-card-content>

    <mat-card-footer>
      <button mat-mini-fab class="add-to-cart-btn">
        Añadir al carrito
      </button>
    </mat-card-footer>
  </mat-card>
</div>
