/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh;  box-sizing: border-box;}
body { min-height: 100vh; }
body { margin: 0; font-family:  "Noto Sans", "Helvetica Neue", sans-serif !important; }


div[ng-view]{
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }