<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <img src="img/logo.svg" class="sidenav-logo">
    <ul class="sidenav-list">
      <li><a routerLink="products" routerLinkActive="active">
          <div class="sidenav">
            <mat-icon>category</mat-icon>
            <p>Productos</p>
          </div>
        </a></li>
      <li><a href="#">
          <div class="sidenav">
            <mat-icon>people</mat-icon>
            <p>Usuarios</p>
          </div>
        </a></li>
      <li><a href="#">
          <div class="sidenav">
            <mat-icon>inventory</mat-icon>
            <p>Inventario</p>
          </div>
        </a></li>
      <li><a href="#">
          <div class="sidenav">
            <mat-icon>point_of_sale</mat-icon>
            <p>Ventas</p>
          </div>
        </a></li>
    </ul>
  </mat-drawer>

  <mat-toolbar class="mat-toolbar">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>La casa de Toby</h1>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-drawer-container>
