<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

  </mat-drawer>



  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>La casa de Tobi</h1>
  </mat-toolbar>







  <div class="container">
    <mat-card *ngFor="let product of products$|async" class="example-card" appearance="outlined">
      <mat-card-header>

        <mat-card-title>{{product.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{product.image}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
        <h3>Inventario: {{product.quantity}}</h3>
        <h3>${{product.price}}</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Añadir al carrito</button>

      </mat-card-actions>
    </mat-card>

  </div>
</mat-drawer-container>